{% extends "base.html" %}
{% block content %}
<h1>Query</h1>

<input class="form-control" placeholder="Make query here to search for data" type="text">
<button class="btn btn-primary">Search</button>



<h2>Query results</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>QuestionnaireID</th>
            <th>Date</th>
            <th>Company</th>
            <th>recognition_1 : What computer brands first come to your mind? (Response 1) </th>
            <th>recognition_2 : What computer brands first come to your mind? (Response 2) </th>
            <th>recognition_3 : What computer brands first come to your mind? (Response 3) </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan pelit tähän -->
        <tr>
            <td><a href="#"> 1234567 </a></td>
            <td>23.3.2017</td>
            <td>Asiakasyritys Oy</td>
            <td>Hp</td>
            <td>Acer</td>
            <td>Asus</td>
        </tr>
        <tr>
            <td><a href="#"> 1234567 </a></td>
            <td>24.3.2017</td>
            <td>Asiakasyritys Oy</td>
            <td>Asus</td>
            <td>Dell</td>
            <td>Toshiba</td>
        </tr>
    </tbody>
</table>
{% endblock %}