{% extends "base.html" %}
{% block content %}
  <h1>Overview of the database</h1>
  <h2>Click on a link to see data on questionnaire</h2>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>QuestionnaireID</th>
        <th>Date</th>
        <th>Company</th>
        <th>Questions</th>
        <th>Responses</th>
        <th>Case Owner</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#"> 1234567 </a></td>
        <td>23.3.2017</td>
        <td>Asiakasyritys Oy</td>
        <td>15</td>
        <td>476</td>
        <td>Matti Meikäläinen</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
