{% extends "base.html" %}
{% block content %}
  <h1>Remove questionnaire</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>QuestionnaireID</th>
        <th>Date</th>
        <th>Company</th>
        <th>Questions</th>
        <th>Responses</th>
        <th>Case Owner</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="#"> 1234567 </a></td>
        <td>23.3.2017</td>
        <td>Asiakasyritys Oy</td>
        <td>15</td>
        <td>476</td>
        <td>Matti Meikäläinen</td>
        <th><a class="btn btn-danger" href="#">Remove</a></th>
      </tr>
      <tr>
        <td><a href="#"> 1234568 </a></td>
        <td>28.3.2017</td>
        <td>Mummonpullat Oy</td>
        <td>12</td>
        <td>371</td>
        <td>Kalle Kuha</td>
        <th><a class="btn btn-danger" href="#">Remove</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
