{% extends "base.html" %}
{% block content %}
<h1>Click on row to edit</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Questionnaire Name</th>
            <th>Company</th>
            <th>VAT number</th>
        </tr>
    </thead>

    <tbody>
        {% for row in data %}
            <tr>
              <td><a href="{{base_path}}/edit/{{row.questionnaire_id}}">{{row.questionnaire_id}}</a></td>
              <td>{{row.project_start}}</td>
              <td>{{row.questionnaire_name}}</td>
              <td>{{row.customer_company}}</td>
              <td>{{row.vat_number}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
